@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

body {
  background: #031625;
  font-family: "Noto Sans TC", sans-serif;
  position: relative;
  background: #020209;
  background: -webkit-gradient(linear, left top, right top, from(#020209), color-stop(48%, #060526), color-stop(63%, #121244), color-stop(73%, #090a4f), color-stop(96%, #332408), to(#392807));
  background: linear-gradient(90deg, #020209 0%, #060526 48%, #121244 63%, #090a4f 73%, #332408 96%, #392807 100%);
}

hr {
  margin-top: 23vh;
  margin-bottom: 8vh;
  width: 50vw;
  border: 2px solid #e8d5b5;
}

img {
  border-radius: 4px;
}

h3 {
  color: #e8d5b5;
  font-size: 50px;
  text-align: center;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

#nav-bar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  width: 100vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #153464;
}

#nav-bar h1 {
  font-size: 3em;
  color: #e8d5b5;
  margin-left: 2vh;
}

#nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1.5;
      -ms-flex-positive: 1.5;
          flex-grow: 1.5;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1em;
  margin-right: 10%;
}

#nav-bar ul li {
  list-style: none;
  margin: 2%;
}

#nav-bar ul a {
  text-decoration: none;
  color: #e8d5b5;
  position: relative;
  padding-bottom: 5px;
}

#nav-bar ul a:before {
  content: " ";
  border-bottom: solid 1px white;
  width: 0%;
  z-index: 200;
  height: 3px;
  bottom: 0;
  right: 0;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#nav-bar ul a:after {
  content: " ";
  border-bottom: solid 1px white;
  width: 0%;
  z-index: 200;
  height: 3px;
  bottom: 0;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#nav-bar ul a:hover:after {
  width: 50%;
}

#nav-bar ul a:hover:before {
  width: 50%;
}

.basket--svg {
  position: absolute;
  cursor: pointer;
}

#burger {
  display: none;
}

#burger div {
  background-color: #e8d5b5;
  height: 3px;
  width: 26px;
  margin-bottom: 15%;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.open:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(10px);
          transform: rotate(45deg) translateY(10px);
}

.open:nth-child(2) {
  opacity: 0;
}

.open:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-10px);
          transform: rotate(-45deg) translateY(-10px);
}

.close:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.close:nth-child(2) {
  opacity: 1;
}

.close:nth-child(3) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.main-container {
  margin: 20vh 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-container .main-container-text {
  width: 30vw;
  color: #e8d5b5;
}

.main-container .main-container-text h2 {
  font-size: 2em;
}

.main-container .main-container-text p {
  font-size: 1em;
}

.main-container .main-container-image {
  position: relative;
  height: 500px;
}

.main-container img {
  position: relative;
  height: 500px;
}

#image--frame {
  height: 500px;
  width: 498px;
  border: 4px solid #e8d5b5;
  position: absolute;
  z-index: 2;
  top: -6vh;
  right: -6vw;
  border-radius: 4px;
}

#copyright {
  font-size: 0.8em;
  background-color: #153464;
  height: 12vh;
  margin-top: 10vh;
  padding-top: 4vh;
  color: #e8d5b5;
  text-align: center;
}

.btn {
  font-size: 0.9em;
  background-color: #005c8d;
  border: none;
  padding: 10px 20px;
  margin-top: 25px;
  font-weight: 800;
  border-radius: 10px;
  cursor: pointer;
  min-width: 150px;
  max-height: 60px;
  font-family: "Poppins", sans-serif;
  color: #e8d5b5;
}

.btn a {
  text-decoration: none;
  color: #e8d5b5;
}

.btn:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

@media screen and (max-width: 320px) {
  #nav-bar h1 {
    font-size: 1.5em !important;
  }
}

@media screen and (max-width: 800px) {
  body {
    position: static !important;
    overflow: hidden;
    width: 100% !important;
  }
  h2 {
    font-size: 2.2em !important;
  }
  h3 {
    font-size: 3em;
  }
  #nav-bar {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }
  #nav-bar h1 {
    font-size: 2em;
    margin-left: 45px !important;
    -webkit-margin-before: 17px;
            margin-block-start: 17px;
  }
  #nav-bar ul {
    height: 100vh;
    width: 33vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    background-color: #153464;
    position: absolute;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
    -webkit-margin-before: 9vh;
            margin-block-start: 9vh;
    -webkit-padding-start: 10px;
            padding-inline-start: 10px;
    z-index: -1;
  }
  #nav-bar ul li {
    margin: 4vh !important;
  }
  #burger {
    display: block;
    position: absolute;
    left: 10px;
    top: 30px;
  }
  .main-container {
    position: relative;
    top: 5vh;
    margin-left: 0;
  }
  .main-container .main-container-text {
    width: 80vw;
    margin: 10vw;
    left: 0;
    top: 0;
  }
  .main-container .main-container-image {
    display: none;
  }
  .card--textbox h2 {
    font-size: 1em !important;
  }
  .pro--container {
    width: 90vw !important;
    margin: 20px 20px !important;
  }
  .pro--title {
    font-size: 1em !important;
  }
  .pro--header {
    height: 75px !important;
    width: 75px !important;
    margin: 5px;
  }
  .pro--text p {
    font-size: 0.8em;
    line-height: 120%;
    padding: 5px;
  }
  #contact-form {
    width: 100vw;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact-form li {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact-form input {
    margin-top: 1vh;
    min-width: 200px;
  }
  #contact-form button {
    margin-left: 20%;
  }
}

.slide {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
  z-index: -1;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.elements-slide {
  -webkit-animation: slidein 3s;
          animation: slidein 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cart {
  height: 500px;
  width: 300px;
  position: absolute;
  z-index: 0;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0 0 0.2em 0.2em;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  -webkit-box-shadow: 4px 4px 10px #031625;
          box-shadow: 4px 4px 10px #031625;
  top: 10vh;
  right: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart h2 {
  padding: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
}

.cart--item--container {
  height: 100px;
  width: 100%;
  border-bottom: solid 1px #7e7a7a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: rgba(255, 255, 255, 0.8);
}

.cart--item--container h3 {
  font-family: "Poppins", sans-serif;
  color: #3f3f3f;
  font-size: 0.9em;
  font-weight: 400;
  margin: 0;
}

.cart--item--container h2 {
  margin: 0 !important;
  font-weight: 700;
  font-size: 1.1em;
  padding: 0;
}

.cart--item--container img {
  height: 90px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0;
  margin: 10px;
}

.cart--item--right {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item--bottom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 190px;
}

.cart--qty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.plus,
.minus,
.qty {
  width: 25px;
  height: 25px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 5px;
}

.plus,
.minus {
  background-color: darkgray;
  border-radius: 10em;
  cursor: pointer;
}

.cart--delete {
  cursor: pointer;
}

.cart--items {
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart--total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.cart--btn {
  width: 150px;
  height: 50px;
  background-color: #005c8d;
  border: none;
  margin: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  border-radius: 0.2em;
  color: #e8d5b5;
  cursor: pointer;
}

.cart--btn:hover {
  background-color: #153464;
}

.cart--bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-enter {
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 0;
}

.cart-enter-active {
  opacity: 1;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  z-index: 0;
}

.cart-exit {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  z-index: 0;
}

.cart-exit-active {
  opacity: 0;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 0;
}

.img--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card {
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  height: 35vh;
  min-height: 600px;
  width: 25vw;
  min-width: 300px;
  margin: 20px;
  border-radius: 0.5em;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  -webkit-box-shadow: 3px 3px 20px rgba(3, 3, 3, 0.9);
          box-shadow: 3px 3px 20px rgba(3, 3, 3, 0.9);
}

.card .img--frame {
  height: 75%;
  width: 100%;
  border-radius: 0.5em 0.5em 0 0;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.card .img--frame img {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.card .img--frame img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card--textbox {
  position: absolute;
  min-height: 100px;
  max-height: 100px;
  left: 20px;
  top: 70%;
}

.card--textbox h1 {
  color: #e8d5b5;
  font-size: 1.5em;
}

.card--textbox h2 {
  width: 50%;
  background: #b92b27;
  background: -webkit-gradient(linear, left top, right top, from(#1565c0), to(#b92c27));
  background: linear-gradient(to right, #1565c0, #b92c27);
  border-radius: 0.2em;
  padding: 5px;
  font-size: 1em;
}

.card--btn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  height: 50px;
  width: 100px;
  font-size: 1.2em;
  border-radius: 0.5em 0.5em 0 0;
  border: none;
  background-color: #e8d5b5;
  color: #153464;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 25px;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding-bottom: 10px;
}

.card--btn:hover {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

#contact {
  position: relative;
}

#result-message {
  color: #e8d5b5;
  -ms-grid-column-align: center;
      justify-self: center;
}

.form--fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50vh;
  width: 90vw;
  margin-left: 5vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.labels {
  color: #e8d5b5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.labels label {
  margin-bottom: 20px !important;
}

.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.field input {
  height: 20px;
  margin-left: 10px;
  width: 500px;
  margin-bottom: 20px !important;
}

#form-message {
  height: 10vh;
}

.form--btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 60px;
}

#promise-div {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.pro--container {
  margin: 10px 40px;
  width: 50vw;
  height: 25vh;
  background: #b92b27;
  background: -webkit-gradient(linear, left top, right top, from(#1565c07c), to(#b92c276e));
  background: linear-gradient(to right, #1565c07c, #b92c276e);
  border-radius: 1em;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.right {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: #b92b27;
  background: -webkit-gradient(linear, right top, left top, from(#1565c07c), to(#b92c276e));
  background: linear-gradient(to left, #1565c07c, #b92c276e);
}

.pro--header {
  background: -webkit-gradient(linear, right top, left top, from(#1565c0), to(#b92b27));
  background: linear-gradient(to left, #1565c0, #b92b27);
  border-radius: 10em;
  height: 175px;
  width: 175px;
  min-height: 175px;
  min-width: 175px;
  -webkit-box-shadow: inset 2px 2px 30px rgba(0, 0, 0, 0.4);
          box-shadow: inset 2px 2px 30px rgba(0, 0, 0, 0.4);
  position: relative;
}

.header--right {
  background: -webkit-gradient(linear, left top, right top, from(#1565c0), to(#b92b27));
  background: linear-gradient(to right, #1565c0, #b92b27);
}

.pro--title {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  color: #e8d5b5;
}

.pro--text {
  line-height: 200%;
  width: 60%;
  color: #e8d5b5;
}
/*# sourceMappingURL=style.css.map */