// #contact {
//   position: relative;
// }

#result-message {
  color: set-text-color($background-color);
  justify-self: center;
}

.form--fields {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

form {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 90vw;
  margin-left: 5vh;
  justify-content: center;
}
.labels {
  color: $secondary-light-color;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  label {
    margin-bottom: 20px !important;
  }
}

.field {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  input {
    height: 20px;
    margin-left: 10px;
    width: 500px;
    margin-bottom: 20px !important;
  }
}

#form-message {
  height: 10vh;
}

.form--btn {
  align-self: center;
  margin-left: 60px;
}
