#promise-div {
  width: 100vw;
  // padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.pro--container {
  margin: 10px 40px;
  width: 50vw;
  height: 25vh;
  background: #b92b27;
  background: linear-gradient(to right, #1565c07c, #b92c276e);
  border-radius: 1em;
  backdrop-filter: blur(7px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.right {
  align-self: flex-end;
  background: #b92b27;
  background: linear-gradient(to left, #1565c07c, #b92c276e);
}

.pro--header {
  background: linear-gradient(to left, #1565c0, #b92b27);
  border-radius: 10em;
  height: 175px;
  width: 175px;
  min-height: 175px;
  min-width: 175px;
  box-shadow: inset 2px 2px 30px rgba(0, 0, 0, 0.4);
  position: relative;
}
.header--right{
  background: linear-gradient(to right, #1565c0, #b92b27);
}

.pro--title {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  color: $secondary-light-color;
}

.pro--text {
  line-height: 200%;
  width: 60%;
  color: $secondary-light-color;
}
